html
  head
    meta(charset='utf-8')
    script(src='https://statics.teams.microsoft.com/sdk/v1.5.2/js/MicrosoftTeams.min.js')
    link(rel='stylesheet', href='public/main.css')
    title= title
  body
    script.
        microsoftTeams.initialize();
        var authTokenRequest = {
            successCallback: function (result) {
                fetch("/storeToken?token=" + result);
            },
            failureCallback: function (error) { console.log("Failure: " + error); },
        };
        microsoftTeams.authentication.getAuthToken(authTokenRequest);
    
    | !{message}
    br
    h2 = pageCount
