html
  head
    meta(charset='utf-8')
    script(src='https://statics.teams.microsoft.com/sdk/v1.7.0/js/MicrosoftTeams.min.js')
    link(rel='stylesheet', href='public/main.css')
    title= title
  body
    script.
        microsoftTeams.initialize();    
    | !{message}
    br
    span= pageCount
